<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiantao.sell.mapper.OrderMasterMapper">

    <select id="getOrderList" resultType="OrderMaster">
        select * from ORDER_MASTER ORDER BY CREATE_TIME DESC
    </select>

    <select id="getOrderById" resultType="OrderMaster" parameterType="String">
        select * from order_master where order_id = #{orderId}
    </select>

    <update id="updateOrderStatus" parameterType="OrderMaster">
        update order_master set order_status = #{orderMaster.orderStatus}
          where order_id = #{orderMaster.orderId}
    </update>
</mapper>