<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiantao.sell.mapper.ProductInfoMapper">

    <select id="getProductByStatus" parameterType="String" resultType="ProductInfo">
        select * from PRODUCT_INFO WHERE PRODUCT_STATUS = #{status}
    </select>
</mapper>